*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


canvas{
    position: absolute;
    top:0;
    left:0;
    touch-action: none;
}


body{
    background: black;
    height: 50vh;
    width: 100vw;

    
}

.formFollowsFlexParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formFollowsContainer{
    height: 27rem;
    width: 27rem;
    background-color: teal;
}

.canvasContainer{
    position: relative;
    overflow: hidden;
    background: white;
    width: 27rem;
    height: 27rem;
    margin: 0 auto;
}



